@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');

body{
    background-color: #1B244A;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 100px;
}

.home-container{
    margin-right: auto;
    margin-left: auto;
}

.guest-container{
    margin-right: auto;
    margin-left: auto;
}

.score-container{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.score{
    color: white;
    margin: auto;
    font-size: 100px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
}

h1{
    color: white;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}

button{
    margin-top: 30px;
    margin-left: 12px;

    padding: 5px;

    display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 12px;

        border: 1px solid #222222;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: #fff;
        color: #222222;               
}

button:hover {
    border-color: #000000;
    background: #ffffff;
}